//
// Colors utilities
// -----------------------------------------------------------------------------

@use "sass:map";
@use "../settings" as *;
@use "../tools" as *;

// Color properties map
// -----------------------------------------------------------------------------

$colors-utilities: (
  "color": (
    property: color,
    class: text,
    values:
      map.merge(
        $color-map,
        (
          "current": currentcolor,
        )
      ),
  ),
  "background-color": (
    property: background-color,
    class: bg,
    values:
      map.merge(
        $color-map,
        (
          "current": currentcolor,
          "transparent": transparent,
        )
      ),
  ),
);

// Generate utilities
// -----------------------------------------------------------------------------

@include generate-utilities($colors-utilities);
