//
// Display utilities
// -----------------------------------------------------------------------------

@use "sass:map";
@use "../settings" as *;
@use "../tools" as *;

// Display properties map
// -----------------------------------------------------------------------------

$display-utilities: (
  "display": (
    property: display,
    class: null,
    values: (
      "block": block,
      "inline-block": inline-block,
      "flex": flex,
      "inline-flex": inline-flex,
      "grid": grid,
      "inline-grid": inline-grid,
      "inline": inline,
      "hidden": none,
    ),
    responsive: true,
  ),
);

// Generate utilities
// -----------------------------------------------------------------------------

@include generate-utilities($display-utilities);
