//
// Heights utilities
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../tools" as *;

// Height properties map
// -----------------------------------------------------------------------------

$heights-utilities: (
  "height": (
    property: height,
    class: h,
    values:
      map-merge(
        $height-map,
        (
          "auto": auto,
        )
      ),
  ),
);

// Generate utilities
// -----------------------------------------------------------------------------

@include generate-utilities($heights-utilities);
