//
// Heights utilities
// -----------------------------------------------------------------------------

$heights-utilities: (
  "height": (
    property: height,
    class: h,
    values:
      map-merge(
        $height-map,
        (
          "auto": auto,
        )
      ),
  ),
);

@include generate-utilities($heights-utilities);
