//
// Spacing
// -----------------------------------------------------------------------------

$spacing-utilities: (
  "margin": (
    class: m,
    property: margin,
    values:
      map-merge(
        $spacing-map,
        (
          "auto": auto,
        )
      ),
    responsive: true,
  ),
  "margin-top": (
    class: mt,
    property: margin-top,
    values:
      map-merge(
        $spacing-map,
        (
          "auto": auto,
        )
      ),
    responsive: true,
  ),
  "margin-right": (
    class: mr,
    property: margin-right,
    values:
      map-merge(
        $spacing-map,
        (
          "auto": auto,
        )
      ),
    responsive: true,
  ),
  "margin-bottom": (
    class: mb,
    property: margin-bottom,
    values:
      map-merge(
        $spacing-map,
        (
          "auto": auto,
        )
      ),
    responsive: true,
  ),
  "margin-left": (
    class: ml,
    property: margin-left,
    values:
      map-merge(
        $spacing-map,
        (
          "auto": auto,
        )
      ),
    responsive: true,
  ),
  "padding": (
    class: p,
    property: padding,
    values: $spacing-map,
    responsive: true,
  ),
  "padding-top": (
    class: pt,
    property: padding-top,
    values: $spacing-map,
    responsive: true,
  ),
  "padding-right": (
    class: pr,
    property: padding-right,
    values: $spacing-map,
    responsive: true,
  ),
  "padding-bottom": (
    class: pb,
    property: padding-bottom,
    values: $spacing-map,
    responsive: true,
  ),
  "padding-left": (
    class: pl,
    property: padding-left,
    values: $spacing-map,
    responsive: true,
  ),
  "gap": (
    class: gap,
    property: gap,
    values: $spacing-map,
    responsive: true,
  ),
  "row-gap": (
    class: gap-y,
    property: row-gap,
    values: $spacing-map,
    responsive: true,
  ),
  "column-gap": (
    class: gap-x,
    property: column-gap,
    values: $spacing-map,
    responsive: true,
  ),
);

@include generate-utilities($spacing-utilities);
