//
// Widths utilities
// -----------------------------------------------------------------------------

@use "sass:map";
@use "../settings" as *;
@use "../tools" as *;

// Width properties map
// -----------------------------------------------------------------------------

$widths-utilities: (
  "width": (
    property: width,
    class: w,
    values:
      map.merge(
        $width-map,
        (
          "auto": auto,
        )
      ),
  ),
  "max-width": (
    property: max-width,
    class: max-w,
    values: $max-width-map,
  ),
);

// Generate utilities
// -----------------------------------------------------------------------------

@include generate-utilities($widths-utilities);
