//
// Placeholders
// -----------------------------------------------------------------------------

// CSS image replacement
// -----------------------------------------------------------------------------

%text-hide {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content
// -----------------------------------------------------------------------------

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

// Ellipsis
// -----------------------------------------------------------------------------

%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
