//
// Alert
// -----------------------------------------------------------------------------

// Variables
// -----------------------------------------------------------------------------

:root {
  --alert-margin-x: 0;
  --alert-margin-y: var(--space-sm);
  --alert-padding-x: var(--space-sm);
  --alert-padding-y: var(--space-xs);
  --alert-color-text: var(--color-contrast-700);
  --alert-color-background: var(--color-contrast-200);
  --alert-color-border: var(--color-contrast-300);
  --alert-color-icon: var(--color-contrast-500);
  --alert-border-width: 1px;
  --alert-border-radius: var(--radius-sm);
}

// Base
// -----------------------------------------------------------------------------

.alert {
  margin: var(--alert-margin-y) var(--alert-margin-x);
  padding: var(--alert-padding-y) var(--alert-padding-x);
  color: var(--alert-color-text);
  background: var(--alert-color-background);
  border: var(--alert-border-width) solid var(--alert-color-border);
  border-radius: var(--alert-border-radius);

  svg {
    fill: var(--alert-color-icon);
  }

  p + p {
    margin-top: var(--space-xs);
  }

  a {
    font-weight: 600;
    color: currentcolor;
    text-decoration: underline;
  }
}

// Alternate styles
// -----------------------------------------------------------------------------

.alert--info {
  --alert-color-text: var(--color-info-700);
  --alert-color-background: var(--color-info-100);
  --alert-color-border: var(--color-info-200);
  --alert-color-icon: var(--color-info-500);
}

.alert--success {
  --alert-color-text: var(--color-success-800);
  --alert-color-background: var(--color-success-100);
  --alert-color-border: var(--color-success-200);
  --alert-color-icon: var(--color-success-500);
}

.alert--warning {
  --alert-color-text: var(--color-warning-800);
  --alert-color-background: var(--color-warning-100);
  --alert-color-border: var(--color-warning-200);
  --alert-color-icon: var(--color-warning-500);
}

.alert--danger {
  --alert-color-text: var(--color-danger-800);
  --alert-color-background: var(--color-danger-100);
  --alert-color-border: var(--color-danger-200);
  --alert-color-icon: var(--color-danger-500);
}
