//
// Forms
// -----------------------------------------------------------------------------

// Form label
// -----------------------------------------------------------------------------

.form-label {
  display: inline-block;
  padding: 0 0 var(--spacer-xs);
  font-size: var(--text-xs);
  line-height: var(leading-tight);
  vertical-align: top;
}

// Form control
// -----------------------------------------------------------------------------

.form-control {
  --form-control-padding-y: var(--spacer-xs);
  --form-control-padding-x: calc(var(--spacer-xs) + var(--spacer-xxs));

  display: block;
  width: 100%;
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  color: inherit;
  font: inherit;
  line-height: var(--leading-tight);
  background: var(--color-bg);
  border: 1px solid var(--color-contrast-low);
  border-radius: var(--radius-sm);
  transition: border-color 0.2s ease-in-out;
  appearance: none;

  &::placeholder {
    color: var(--color-contrast-low);
  }

  &:focus {
    border-color: var(--color-primary);
    outline: 0;
  }

  &:disabled,
  &[readonly] {
    background-color: var(--color-contrast-lower);
    // border-color: var(--color-contrast-low);
  }

  &:disabled {
    opacity: 0.65;
  }

  &:invalid {
    border-color: var(--color-error);
  }
}

// Form select
// -----------------------------------------------------------------------------

.form-select {
  @extend .form-control;

  padding-right: var(--spacer-xl);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%25, 30%25)' viewBox='0 0 12 7'%3E%3Cpath d='M.67 1c0-.17.06-.34.2-.47a.67.67 0 0 1 .94 0l4 4c.1.1.27.1.38 0l4-4a.67.67 0 0 1 .95.94L6.47 6.14a.67.67 0 0 1-.94 0L.86 1.47A.67.67 0 0 1 .66 1'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% - var(--form-control-padding-x))
    calc(50% + 0.1rem);
  background-size: 1.4rem auto;

  &[multiple] {
    height: inherit;
    padding-right: 1rem;
    background: none;
  }
}

// Form check
// -----------------------------------------------------------------------------

.form-check {
  display: flex;
}

.form-check__input {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.425rem var(--spacer-xs) 0 0;
  vertical-align: top;
  background-color: var(--color-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid var(--color-contrast-low);
  border-radius: var(--radius-sm);
  appearance: none;

  &[type="radio"] {
    border-radius: var(--radius-full);
  }

  &:focus {
    border-color: var(--color-primary);
    outline: 0;
  }

  &:active {
    filter: brightness(90%);
  }

  &:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &[type="checkbox"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }

    &[type="radio"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }
  }

  &:indeterminate {
    &[type="checkbox"] {
      background-color: var(--color-primary);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
      border-color: var(--color-primary);
    }
  }

  &:disabled {
    filter: none;
    pointer-events: none;

    &,
    & ~ .form-check__label {
      opacity: 0.5;
    }
  }
}
