//
// Global
// -----------------------------------------------------------------------------

// Page
// -----------------------------------------------------------------------------

html {
  font-size: calc(1em * 0.625);
}

body {
  color: var(--body-text-color, var(--color-contrast-900));
  font-size: var(--body-text-size, var(--text-sm));
  font-family: var(--body-font-family, var(--font-sans));
  line-height: var(--body-leading, var(--leading-normal));
  background: var(--body-background-color, var(--color-contrast-0));
}

// Focus state
// -----------------------------------------------------------------------------

* {
  &:focus {
    outline: var(--focus-outline, 1px dashed var(--color-contrast-300));
    outline-offset: var(--focus-outline-offset, 0.15em);
  }
}

// Selection
// -----------------------------------------------------------------------------

::selection {
  color: var(--selection-text-color, var(--color-contrast-0));
  background-color: var(--selection-background-color, var(--color-primary-500));
}

// Animations
// -----------------------------------------------------------------------------

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
