//
// Global
// -----------------------------------------------------------------------------

// Page
// -----------------------------------------------------------------------------

html {
  font-size: calc(1em * 0.625);
}

body {
  color: var(--color-contrast-900);
  font-size: var(--text-sm);
  font-family: var(--font-sans);
  line-height: var(--leading-normal);
  background: var(--color-contrast-0, white);
}

// Focus state
// -----------------------------------------------------------------------------

* {
  &:focus {
    outline: 1px dashed var(--color-contrast-300);
    outline-offset: 0.15em;
  }
}

// Selection
// -----------------------------------------------------------------------------

::selection {
  color: var(--color-contrast-0);
  background-color: var(--color-primary-500);
}

// Animations
// -----------------------------------------------------------------------------

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
