//
// Reset
// -----------------------------------------------------------------------------

// remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
// the "symbol *" part is to solve Firefox SVG sprite bug
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

// Document
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Text
// -----------------------------------------------------------------------------

// Prevent Mobile Safari browser to increase the default font-size
html {
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

// Lists
// -----------------------------------------------------------------------------

ol,
ul {
  list-style: none;
}

// Medias
// -----------------------------------------------------------------------------

img,
video {
  max-width: 100%;
}

// Table
// -----------------------------------------------------------------------------

table {
  border-collapse: collapse;
}

// Forms
// -----------------------------------------------------------------------------

// revert the 'white-space' property for textarea elements on Safari
textarea {
  white-space: revert;
}
