//
// Reset
// -----------------------------------------------------------------------------

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
dl,
dt,
dd,
hr,
pre,
blockquote,
figure,
fieldset,
legend,
textarea,
iframe {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

// Document
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

iframe {
  border: 0;
}

// Headings
// -----------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

// Lists
// -----------------------------------------------------------------------------

ul {
  list-style: none;
}

// Medias
// -----------------------------------------------------------------------------

img,
video {
  height: auto;
  max-width: 100%;
}

// Table
// -----------------------------------------------------------------------------

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}
